<table width="100%" bgcolor="#f6f8f1" border="0" cellpadding="0" cellspacing="0">
<tr>
  <td>
    <table bgcolor="#ffffff" class="content" align="center" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td bgcolor="#c7d8a7" class="header">
          <table width="70" align="left" border="0" cellpadding="0" cellspacing="0">  
            <tr>
              <td height="70" style="padding: 0 20px 20px 0;">
                <img class="fix" src="images/icon.gif" width="70" height="70" border="0" alt="" />
              </td>
            </tr>
          </table>
          <table class="col425" align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 425px;">  
            <tr>
              <td height="70">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="subhead" style="padding: 0 0 0 3px;">
                      Gracias <strong><%= @rent.user.first_name %></strong> por rentar un libro
                    </td>
                  </tr>
                  <tr>
                    <td class="h1" style="padding: 5px 0 0 0;">
                      Titulo del ejemplar: <strong><%= @rent.book.title %><strong>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="innerpadding borderbottom">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="h2">
                Bienvenido al sistema de renta de libros de Flimper
              </td>
            </tr>
            <tr>
              <td class="bodycopy">
                <strong>Detalles de la renta:</strong>
                <ul>
                  <li><strong>Fecha del registro: </strong> <%= @rent.created_at %></li>
                  <li><strong>Desde: </strong> <%= @rent.from %></li>
                  <li><strong>Hasta: </strong> <%= @rent.to %></li>
                </ul>
                <strong>Detalles del libro:</strong>
                <ul>
                  <li><strong>Titulo: </strong><%= @rent.book.title %></li>
                  <li><strong>Genero: </strong><%= @rent.book.genre %></li>
                  <li><strong>Autor: </strong><%= @rent.book.author %></li>
                  <li><strong>Editorial: </strong><%= @rent.book.publisher %></li>
                  <li><strong>Año: </strong><%= @rent.book.year %></li>
                </ul>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="innerpadding borderbottom">
          <img class="fix" src="images/wide.png" width="100%" border="0" alt="" />
        </td>
      </tr>
      <tr>
        <td class="innerpadding bodycopy">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.
        </td>
      </tr>
      <tr>
        <td class="footer" bgcolor="#44525f">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center" class="footercopy">
                &reg; CopyLeft, BookFlimper 2018<br/>
                <a href="#" class="unsubscribe"><font color="#ffffff">Unsubscribe</font></a> 
                <span class="hide">www.flimper.com</span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>

